.calendar-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-calendar {
  width: 85vw;
  margin: auto;
  background-color: var(--background-color);
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  font-family: var(--primary-font);
  padding: 10px;
}

.react-calendar__navigation {
  padding: 10px;
  height: 100%;
}

.react-calendar__navigation button {
  color: var(--primary-color);
  background: none;
  font-size: 30px;
  margin-top: 8px;
  font-family: var(--primary-font);
  padding: 10px;
  transition: color 0.25s, background-color 0.25s, border-radius 0.25s;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  color: #000000;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.react-calendar__month-view__weekdays__weekday {
  color: var(--primary-color);
  font-size: 20px;
  text-transform: uppercase;
}

.react-calendar__month-view__days__day {
  color: var(--text-color);
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  transition: color 0.25s, background-color 0.25s, border-radius 0.25s;
}

.react-calendar__tile {
  border-radius: 10px;
  transition: background-color 0.25s, color 0.25s, border-radius 0.25s;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: var(--secondary-color);
}

.react-calendar__tile--now {
  background: none;
  outline: 1px solid var(--primary-color) !important;
  color: var(--primary-color);
  font-weight: bold;
}

.react-calendar__tile--active {
  .pink-text {
    color: var(--primary-color-hover);
  }
  .grey-text {
    color: var(--primary-color-hover);
  }
  background: none;
  outline: 1px solid var(--primary-color-hover) !important;
}

.calendar {
  background-color: var(--background-color);
  color: #202020;
  margin-bottom: 20px;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 23px;
  text-align: center;
  border: 1px solid var(--primary-color);
}

.popup h3 {
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px #000000;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.15s;
}

.close-btn:hover {
  color: var(--primary-color);
}

.repair-list {
  list-style-type: none;
  padding: 0;
}

.repair-data {
  margin-bottom: 10px;
}

.repair-data:hover {
  cursor: pointer;
  text-decoration: none;
  color: #888;
}

.repair-count {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: normal;
}

.grey-text {
  color: #414141;
}

.pink-text {
  color: var(--primary-color);
  font-weight: bold;
}
