.card {
  position: relative;
  width: 100vw;
  background-color: var(--background-color);
  background-image: linear-gradient(
    to bottom,
    var(--bg-color-darker),
    var(--secondary-color),
    var(--bg-color-darker)
  );
  border-bottom: var(--primary-color) solid 1px;
  padding: 10px;
  overflow: hidden;
  transition: background-image 0.3s ease-in;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    var(--bg-color-darker),
    var(--background-color),
    var(--bg-color-darker)
  );
  transition: opacity 0.3s ease;
  opacity: 0;
}

.card:hover {
  cursor: pointer;
}

.card:hover::before {
  opacity: 1;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: linear-gradient(
    to bottom,
    var(--background-color),
    var(--secondary-color-hover),
    var(--background-color)
  );
  transition: opacity 0.3s ease;
  opacity: 0;
}

.card:hover::after {
  opacity: 1;
}

.car-data {
  margin: 0;
  padding: 5px 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5vw;
  align-content: center;
  max-height: 1000px;
  position: relative;
  z-index: 1; /* Ensure the text appears above the pseudo-element */
}

.car-data li {
  width: 20vw;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.card-btns {
  width: auto !important;
}

.card-icons {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-icon {
  margin-right: 15px;
}

@media screen and (max-width: 1000px) {
  .car-data {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0;
  }

  .car-data li {
    width: 100% !important;
  }

  .card-btns {
    text-align: center;
    padding: 0;
  }
}
