form {
  width: 90%;
  max-width: 25rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.control,
fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control.no-margin {
  margin-bottom: 0;
}

.control label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: bold;
}

.control input,
.control select {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.control select {
  border-radius: 4px;
}

.control:has(input[type='checkbox']) {
  display: flex;
  align-items: center;
}

.control:has(input[type='checkbox']) label {
  margin: 0;
}

.control input[type='checkbox'] {
  display: inline-block;
  width: auto;
  max-width: none;
  margin-right: 0.5rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: var(--text-color);
}

.control-error {
  color: var(--text-color);
  font-size: 0.9rem;
  height: 2rem;
  padding: 0.5rem 0;
}

.control-error p {
  margin: 0;
}

.control-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.control,
fieldset {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control.no-margin {
  margin-bottom: 0;
}

.control label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: bold;
}

.control input,
.control select {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.control select {
  border-radius: 4px;
}

.control:has(input[type='checkbox']) {
  display: flex;
  align-items: center;
}

.control:has(input[type='checkbox']) label {
  margin: 0;
}

.control input[type='checkbox'] {
  display: inline-block;
  width: auto;
  max-width: none;
  margin-right: 0.5rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: var(--text-color);
}

.control-error {
  color: var(--text-color);
  font-size: 0.9rem;
  height: 2rem;
  padding: 0.5rem 0;
}

.control-error p {
  margin: 0;
}

.control-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
