* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--text-color);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../src/images/login-page-bg-blurred-1920.jpg);
  background-size: cover;
}

button:hover,
button:focus {
  cursor: pointer;
}
