/* CarPart.css */
body {
  font-family: var(--primary-font);
  background-color: #101010;
  color: #ff0099;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #ff0099;
}

.open-modal-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff0099;
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.open-modal-button:hover {
  background-color: #7d004b;
}
