/* Icon button styles */
.icons-btn {
  background: none;
  border: none;
}

.icons-btn:hover,
.icons-btn:focus {
  .pink-icon {
    fill: var(--primary-color-hover);
  }
}

.icon {
  width: 40px;
  height: 40px;
}

.pink-icon {
  fill: var(--primary-color);
  filter: drop-shadow(2px 2px 2px black);
}

.black-icon {
  fill: #000000;
  transition: transform 0.1s ease-in-out;
  filter: drop-shadow(2px 2px 2px var(--primary-color-hover));
}

.black-icon:hover {
  transform: scale(1.08);
}

button .black-icon:hover {
  transform: none;
}

/* Responsive adjustments for icons */
@media screen and (max-width: 600px) {
  .icon {
    width: 30px;
    height: 30px;
  }
}
