:root {
  /* Color Variables */
  --primary-color: #ff0099;
  --primary-color-transparent: rgba(255, 0, 153, 0.3);
  --secondary-color: #151515;
  --primary-color-hover: #7d004b;
  --secondary-color-hover: #151515;
  --text-color: #efefef;
  --background-color: #101010;
  --bg-color-darker: #0b0b0b;

  /* Shadow variables */
  --small-shadow: 1px 1px 2px black;
  --box-shadow: 2px 2px 20px black;

  /* Border variables */
  --box-border: 1px solid var(--primary-color-transparent);

  /* Font Variables */
  --primary-font: 'Josefin Sans', Arial, sans-serif;
}
