.edit-details-container {
  width: 100vw;
}

.go-back-arrow {
  text-align: left;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
}

.go-back-arrow svg {
  width: 60px;
  height: 60px;
}

/* & ---- Input fields ---- */

.details-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.details-input {
  height: 30px;
  background-color: #15130e;
  color: #eeeeee;
  border: #ff0099 solid 1px;
  border-radius: 8px;
  padding: 18px;
  min-width: 200px;
  margin: 2px 15px;
  width: 30vw;
  font-size: 21px;
  text-align: center;
}

.details-input-label {
  font-size: 22px;
}

.error-message {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

/* & ---- Save button ---- */
.save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0099;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
}

.save-icon {
  height: 30px !important;
}

/* & ------------------ PHONES AND SMALLER SCREENS ------------------ */
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 600px) {
}
