/* & ---- Input fields ---- */

.details-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  gap: 20px;
  
}

.details-input {
  height: 30px;
  background-color: #15130e;
  color: #eeeeee;
  border:  #ff0099 solid 1px;
  border-radius: 8px;
  padding: 10px;
  min-width: 200px;
  /* overflow: auto; */
  /* text-overflow: ellipsis ; */
  /* word-wrap: break-word; */
}

.details-input-label {
  font-size: 20px;
}

/* & ---- VIN and phone number errors ---- */
/* ? This shows only when inputting an incorrect phone (vin) number (less than 9 (11) digits) so remember that when editing */
.number-error,
.vin-error {
  color: red;
  font-size: 17px;
}

/* & ---- Save button ---- */
.save-btn {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #ff0099;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
}

.save-icon {
  height: 30px !important;
}

/* & ---- Page not found error ---- */
.not-found-error {
  color: red;
  font-weight: bold;
}

/* & ------------------ PHONES AND SMALLER SCREENS ------------------ */
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 600px) {
}
