/* !Please delete instructions comments when finished editing */

/* & ---- Input fields ---- */

.details-form {
  display: flex; /* ^ https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  flex-direction: column;
  align-content: center;
  gap: 20px;
}
.details-input {
  height: 30px;
  background-color: #15130e;
  color: #eeeeee;
}

.details-input-label {
  font-size: 20px;
}

/* & ---- VIN and phone number errors ---- */
/* ? This shows only when inputting an incorrect phone (vin) number (less than 9 (11) digits) so remember that when editing */
.error-message {
  color: red;
}

/* & ---- Save button ---- */
.save-btn {
  background-color: #ff0099;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

.save-icon {
  height: 30px !important; /* ? !important overwrites changes that might be set in other CSS files (in this case index.css) */
}

/* & ---- Page not found error ---- */
/* ? Shows up when inputting the incorrect VIN number in the permalink, e.g., http://localhost:5173/edit-details/incorrectVIN */
.not-found-error {
  color: red;
  font-weight: bold;
}

/* & ------------------ PHONES AND SMALLER SCREENS ------------------ */
/* ^ https://www.w3schools.com/cssref/css3_pr_mediaquery.php */
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 600px) {
}
